.nav-item-link {
  display: flex;
  color: #fffaff;
  justify-content: space-between;
  align-items: center;
  padding: 9px 10px;
  list-style: none;
  text-decoration: none;
  font-size: 18px;
}
.nav-item-link:hover {
  cursor: pointer;
  border-left: 4px solid #cc3363;
  background-color: #26a69a;
  color: #fffaff;
}

.nav-item-link span {
  margin-left: 16px;
}
