//$primary: #26a69a;
//$secondary: #ef2d56;
$primary: #2e6a5d;
$secondary: #0c4a85;
$dark: #2c3e50; //#303036;
$light: #fffaff;
$danger: #cc3363;
$warning: #ed7d3a;
$success: #26a69a;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
